
<noscript class="centered">
    <p style="transform: translate(50px) rotate(-15deg);">
        RogueFlash
    </p>
    <p style="transform: translate(-50px) rotate(10deg);">
        JavaScript is required! =8O
    </p>
</noscript>
