
<div class="margin-bottom-2x pageHeader">
    <button id="openAppMenu"
            class="floatLeft roundedAll">
        <span class="fa fa-bars fa-2x"></span>
    </button>
    <span class="pageTitle">
        RogueFlash - @ViewData["Title"]
    </span>
    <button id="openActionMenu"
            class="floatRight roundedAll">
        <span class="fa fa-ellipsis-h fa-2x"></span>
    </button>
    <div class="clearfix"></div>
</div>
