<!DOCTYPE html>
<html>
<head>
    <title>RogueFlash - Error</title>

    @Html.Partial("/Views/Shared/HeadContent.cshtml")
</head>
<body>
    <div id="appScreen">
        <div class="pageHeader">
            <span class="pageTitle">
                RogueFlash - Error
            </span>
        </div>

        <div class="pageBody">
            <div class="centered filter margin-bottom-2x">
                <p style="transform: translate(50px) rotate(-15deg);">
                    Error! :P
                </p>
                <p style="transform: translate(-50px) rotate(10deg);">
                    <span class="fa fa-ambulance"></span>
                    <a href='@Url.Action("", "Start")'
                       class="navigatorButton roundedAll">
                        Start Again!
                    </a>
                    <span class="fa fa-ambulance"></span>
                </p>
            </div>
        </div>
    </div>
</body>

</html>